body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    justify-content: center;
    text-align: center;
    color: #333;
    line-height: 1.5em;
}

#homePage {
    margin-top: 50px;
}

#homePage p{
    font-weight: 400;
    text-align: justify;
    margin: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

#snake p{
    text-align: center;
}

.hidden {
    display: none;
}

.show {
    display: none;
}

main {
    margin: auto;
}

.gameContent {
    margin: auto;
    justify-content: center;
    display: flex;
}

div {
    padding: 10px;
}

button { 
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    width: 163px;
    font-weight: 200;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #000; /* Changes the background to black */
    color: white; /* Changes the text color to white */
}

.dice-gap {
    margin-right: 10px; /* Or whatever gap you prefer */
}

.currentScores {
    font-weight: 300;
    font-size: 32px;
}

#currentScore1 {
    background-color: #EB4D4D;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 250px;
    margin-left: 30px;
    border: 1px solid #EB4D4D;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    /* width: 150px; 
    height: 120px; */
}

#currentScore2 {
    background-color: #F7A265;
    border: 1px solid #F7A265;
    border-radius: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 250px;
    margin-left: 42px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    /* width: 150px; 
    height: 120px; */
}

/* Base styles that apply to all screen sizes */

body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    justify-content: center;
    text-align: center;
    color: #333;
    line-height: 1.5em;
}

/* Other base styles... */

/* Responsive styles for screens smaller than 768px */

@media only screen and (max-width: 768px) {
    #homePage p {
        margin: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .gameContent {
        flex-direction: column;
    }

    #currentScore1, #currentScore2 {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%; /* Make score take full width */
        margin-left: 0; /* Remove margin-left */
        font-size: 50px; /* Adjust font size */
    }

    button {
        width: auto; /* Make buttons adjust to content */
        padding: 10px 20px; /* Increase padding */
    }
}


