body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    justify-content: center;
    text-align: center;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
}

.gameContent {
    justify-content: center;
    display: flex;
}

div {
    padding: 10px;
}

button { 
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    width: 163px;
    font-weight: 200;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #000; /* Changes the background to black */
    color: white; /* Changes the text color to white */
}

.currentScores {
    font-weight: 300;
    font-size: 32px;
}

#currentScore1 {
    background-color: #EB4D4D;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 250px;
    margin-left: 30px;
    border: 1px solid #EB4D4D;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    /* width: 150px; 
    height: 120px; */
}

#currentScore2 {
    background-color: #F7A265;
    border: 1px solid #F7A265;
    border-radius: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 250px;
    margin-left: 42px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    /* width: 150px; 
    height: 120px; */
}


